@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "OpenSans-Light"; src: url("../fonts/OpenSans-Light.eot"); src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "OpenSans-Regular"; src: url("../fonts/OpenSans-Regular.eot"); src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "OpenSans-Semibold"; src: url("../fonts/OpenSans-Semibold.eot"); src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "BlissPro-Bold"; src: url("../fonts/BlissPro-Bold.eot"); src: url("../fonts/BlissPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BlissPro-Bold.woff") format("woff"), url("../fonts/BlissPro-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@media only screen and (max-width: 700px) { .hide-on-mobile { display: none !important; } }

.show-on-mobile { display: none; }
@media only screen and (max-width: 700px) { .show-on-mobile { display: block; } }

body { width: 100%; min-width: 320px; font-family: "OpenSans-Regular", Arial, sans-serif; font-weight: normal; font-size: 15px; line-height: 1.5; }

.overlay { display: none; position: fixed; z-index: 9; top: 0; left: 0; right: 0; bottom: 0; background: rgba(3, 27, 44, 0.8); }

.icon-step-one { display: inline-block; background: url('../img/icons-s65a568fc36.png') 0 -526px no-repeat; width: 68px; height: 52px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-step-one { background: url('../img/icons-s65a568fc36.png') 0 -588px no-repeat; background-position: 0 -294px; width: 68px; height: 52px; -moz-background-size: 68px 581px; -webkit-background-size: 68px 581px; background-size: 68px 581px; } }

.icon-step-two { display: inline-block; background: url('../img/icons-s65a568fc36.png') 0 -898px no-repeat; width: 58px; height: 60px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-step-two { background: url('../img/icons-s65a568fc36.png') 0 -968px no-repeat; background-position: 0 -484px; width: 59px; height: 61px; -moz-background-size: 68px 581px; -webkit-background-size: 68px 581px; background-size: 68px 581px; } }

.icon-step-three { display: inline-block; background: url('../img/icons-s65a568fc36.png') 0 -702px no-repeat; width: 67px; height: 58px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-step-three { background: url('../img/icons-s65a568fc36.png') 0 -770px no-repeat; background-position: 0 -385px; width: 68px; height: 59px; -moz-background-size: 68px 581px; -webkit-background-size: 68px 581px; background-size: 68px 581px; } }

.input { display: block; width: 100%; height: 40px; box-sizing: border-box; padding: 10px 40px 10px 18px; background-color: #FFF; border: 1px solid #E4E4E4; border-radius: 5px; box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.05); font-size: 20px; line-height: 20px; font-family: "OpenSans-Regular", Arial, sans-serif; font-weight: normal; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.input:focus, .input.is-active { border-color: #FF9800; box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.05), inset 0 0 0 1px #FF9800; }
.input:-ms-input-placeholder { padding-top: 3px; font-size: 13px; line-height: 20px; color: #A3A3A3; text-transform: none; font-family: "OpenSans-Regular", Arial, sans-serif; font-weight: normal; }
.input:-moz-placeholder { padding-top: 3px; font-size: 13px; line-height: 20px; color: #A3A3A3; text-transform: none; font-family: "OpenSans-Regular", Arial, sans-serif; font-weight: normal; }
.input::-moz-placeholder { padding-top: 3px; font-size: 13px; line-height: 20px; color: #A3A3A3; text-transform: none; font-family: "OpenSans-Regular", Arial, sans-serif; font-weight: normal; }
.input::-webkit-input-placeholder { padding-top: 3px; font-size: 13px; line-height: 20px; color: #A3A3A3; text-transform: none; font-family: "OpenSans-Regular", Arial, sans-serif; font-weight: normal; }
.input::placeholder { padding-top: 3px; font-size: 13px; line-height: 20px; color: #A3A3A3; text-transform: none; font-family: "OpenSans-Regular", Arial, sans-serif; font-weight: normal; }
@media only screen and (max-width: 700px) { .input { font-size: 15px; line-height: 15px; }
  .input:-ms-input-placeholder { padding-top: 0; }
  .input:-moz-placeholder { padding-top: 0; }
  .input::-moz-placeholder { padding-top: 0; }
  .input::-webkit-input-placeholder { padding-top: 0; }
  .input::placeholder { padding-top: 0; } }
.input.input_bitcoin { text-transform: uppercase; }
.input.input_code { text-align: center; padding-right: 0; padding-left: 0; }
.input.input_code + .icon { -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.input.input_code:focus + .icon { opacity: 0; visibility: hidden; }
.input.input_search { border-color: rgba(0, 89, 158, 0.1); }
.input.input_search:focus { border-color: #FF9800; }

textarea.input { height: 140px; resize: none; }

.btn { min-width: 140px; height: 40px; padding: 0 30px; box-sizing: border-box; background-color: #FF8400; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmODQwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYTIwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ff8400), color-stop(100%, #ffa200)); background-image: -moz-linear-gradient(bottom, #ff8400 0%, #ffa200 100%); background-image: -webkit-linear-gradient(bottom, #ff8400 0%, #ffa200 100%); background-image: linear-gradient(to top, #ff8400 0%, #ffa200 100%); border-radius: 5px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); text-align: center; font-family: "OpenSans-Semibold", Arial, sans-serif; font-weight: normal; font-size: 15px; color: #FFF; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; -webkit-transition: all 0.15s linear; transition: all 0.15s linear; }
.btn:hover, .btn:focus { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOWMwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYzAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ff9c00), color-stop(100%, #ffc000)); background-image: -moz-linear-gradient(bottom, #ff9c00 0%, #ffc000 100%); background-image: -webkit-linear-gradient(bottom, #ff9c00 0%, #ffc000 100%); background-image: linear-gradient(to top, #ff9c00 0%, #ffc000 100%); }
.btn[disabled="disabled"] { opacity: 0.8; cursor: default; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmODQwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYTIwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ff8400), color-stop(100%, #ffa200)); background-image: -moz-linear-gradient(bottom, #ff8400 0%, #ffa200 100%); background-image: -webkit-linear-gradient(bottom, #ff8400 0%, #ffa200 100%); background-image: linear-gradient(to top, #ff8400 0%, #ffa200 100%); }
.btn.btn_blue { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTk5ZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNmJiZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #00599e), color-stop(100%, #006bbe)); background-image: -moz-linear-gradient(bottom, #00599e 0%, #006bbe 100%); background-image: -webkit-linear-gradient(bottom, #00599e 0%, #006bbe 100%); background-image: linear-gradient(to top, #00599e 0%, #006bbe 100%); }
.btn.btn_blue:hover, .btn.btn_blue:focus { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxNmZjNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwODlmNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #016fc5), color-stop(100%, #0089f4)); background-image: -moz-linear-gradient(bottom, #016fc5 0%, #0089f4 100%); background-image: -webkit-linear-gradient(bottom, #016fc5 0%, #0089f4 100%); background-image: linear-gradient(to top, #016fc5 0%, #0089f4 100%); }
.btn.btn_blue[disabled="disabled"] { opacity: 0.5; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTk5ZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNmJiZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #00599e), color-stop(100%, #006bbe)); background-image: -moz-linear-gradient(bottom, #00599e 0%, #006bbe 100%); background-image: -webkit-linear-gradient(bottom, #00599e 0%, #006bbe 100%); background-image: linear-gradient(to top, #00599e 0%, #006bbe 100%); }

.menu-btn { display: none; float: right; background: #1B5C8E; border-radius: 5px; padding: 8px 7px; position: relative; z-index: 11; -webkit-tap-highlight-color: transparent; -moz-transition: background 0.15s linear; -o-transition: background 0.15s linear; -webkit-transition: background 0.15s linear; transition: background 0.15s linear; }
.menu-btn:before { content: ""; display: block; width: 26px; height: 10px; border: solid #FFF; border-width: 2px 0 2px; }
.menu-btn:after { content: ""; position: absolute; top: 50%; left: 7px; right: 7px; height: 2px; background: #FFF; margin-top: -1px; }
@media only screen and (max-width: 700px) { .menu-btn { display: block; } }
.menu-btn.is-active { background: #0A3A5F; }

.select { position: relative; }
.select select { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-appearance: none; opacity: 0; }

.blue-link { color: #0B5B9C; text-decoration: none; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; -webkit-transition: all 0.15s linear; transition: all 0.15s linear; }
.blue-link:hover { color: #FF9800; }

@font-face { font-family: "iconfont"; src: url("../fonts/iconfont.eot?add2dx"); src: url("../fonts/iconfont.eot?#iefixadd2dx") format("embedded-opentype"), url("../fonts/iconfont.woff?add2dx") format("woff"), url("../fonts/iconfont.ttf?add2dx") format("truetype"), url("../fonts/iconfont.svg?add2dx#iconfont") format("svg"); font-weight: normal; font-style: normal; }
.icon { font-family: "iconfont"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; background: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-buy { font-size: 16px; }
.icon-buy:before { content: ""; }

.icon-code { font-size: 14px; }
.icon-code:before { content: ""; }

.icon-mail { font-size: 14px; }
.icon-mail:before { content: ""; }

.icon-user { font-size: 18px; }
.icon-user:before { content: ""; }

.icon-wallet { font-size: 18px; }
.icon-wallet:before { content: ""; }

.icon-search { font-size: 18px; }
.icon-search:before { content: ""; }

.icon-subject { font-size: 14px; }
.icon-subject:before { content: ""; }

.icon-text:before { content: ""; }

.icon-checkmark { font-size: 12px; }
.icon-checkmark:before { content: ""; }

.icon-checkmark-round { display: inline-block; width: 15px; height: 15px; border-radius: 50%; border: 2px solid #FF9800; text-align: center; font-size: 7px; line-height: 15px; color: #FF9800; }
.icon-checkmark-round:before { content: ""; }

.icon-angle-down:before { content: ""; }

.icon-alert:before { content: ""; }

.icon-close:before { content: ""; }

.icon-lang { display: inline-block; vertical-align: middle; margin-left: 10px; width: 17px; height: 17px; border: 1px solid rgba(255, 255, 255, 0.2); border-radius: 2px; color: rgba(255, 255, 255, 0.2); text-align: center; line-height: 17px; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; -webkit-transition: all 0.15s linear; transition: all 0.15s linear; }
.icon-lang:before { content: ""; }

.l { max-width: 940px; padding: 0 10px; margin: auto; }

.toparea { display: table; width: 100%; height: 100vh; table-layout: fixed; color: #FFF; background-position: 20% 40%; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat: no-repeat; background-color: #0B3250; background-image: url("../img/toparea-bg.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .toparea { background-image: url("../img/toparea-bg2x.jpg"); } }
@media only screen and (max-width: 700px) { .toparea { height: auto; } }
.toparea.toparea_narrow { display: block; height: auto; }
.toparea.toparea_narrow .toparea__inner { display: block; padding: 0; }
.toparea.toparea_narrow .header { position: static; padding: 40px 0; }
@media only screen and (max-width: 700px) { .toparea.toparea_narrow .header { padding: 15px 0 15px; } }
.toparea.toparea_narrow .toparea__main, .toparea.toparea_narrow .line { display: none; }

.toparea__inner { display: table-cell; position: relative; vertical-align: middle; padding: 125px 0; background: rgba(11, 50, 80, 0.7); }
@media only screen and (max-width: 700px) { .toparea__inner { padding: 0; } }

.toparea__main { *zoom: 1; }
.toparea__main:after { content: " "; display: table; clear: both; }

.toparea__main-left { float: left; width: 51.06383%; max-width: 350px; box-sizing: border-box; }
@media only screen and (max-width: 700px) { .toparea__main-left { float: none; width: 100%; max-width: none; margin: auto; padding: 0 15px; } }

.toparea__main-right { float: right; width: 48.93617%; }

.header { position: absolute; top: 0; left: 0; right: 0; padding: 40px 0 20px; line-height: 1; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 700px) { .header { position: static; padding: 11px 0 35px; } }

.header__menu { float: right; font-size: 0; -webkit-tap-highlight-color: transparent; }
@media only screen and (max-width: 700px) { .header__menu { opacity: 0; -moz-transform: translateY(-110%) translateZ(0); -ms-transform: translateY(-110%) translateZ(0); -webkit-transform: translateY(-110%) translateZ(0); transform: translateY(-110%) translateZ(0); position: absolute; z-index: 10; padding: 65px 0 40px; top: 0; left: 0; right: 0; background: #105C9B; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
  .header__menu.is-visible { opacity: 1; -moz-transform: translateY(0) translateZ(0); -ms-transform: translateY(0) translateZ(0); -webkit-transform: translateY(0) translateZ(0); transform: translateY(0) translateZ(0); } }

.logo { float: left; display: inline-block; position: relative; z-index: 11; margin-top: -15px; color: #FF9800; font-size: 35px; line-height: 1; font-family: "BlissPro-Bold", Arial, sans-serif; font-weight: normal; text-decoration: none; }
.logo:hover { text-decoration: none !important; }
.logo sup { position: absolute; top: 3px; left: 100%; font-size: 9px; text-transform: uppercase; }
@media only screen and (max-width: 700px) { .logo { margin: -6px 0 0 10px; } }

.lang { display: inline-block; vertical-align: middle; position: relative; font-size: 13px; margin: 1px 0 0 30px; color: #FFF; cursor: pointer; }
.lang:hover .icon-lang { border-color: rgba(255, 255, 255, 0.8); color: #FFF; }
@media only screen and (max-width: 700px) { .lang { display: block; text-align: center; margin: 10px 0 0; -webkit-tap-highlight-color: transparent; }
  .lang .lang__list { left: 50%; right: auto; margin-left: -90px; -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); } }

.lang__current { display: inline-block; vertical-align: middle; color: #FFF; color: rgba(255, 255, 255, 0.6); -moz-transition: color 0.15s linear; -o-transition: color 0.15s linear; -webkit-transition: color 0.15s linear; transition: color 0.15s linear; }
.lang:hover .lang__current { color: #FFF; }

.lang__list { display: none; width: 180px; border-radius: 5px; background: #FFF; padding: 20px; box-sizing: border-box; position: absolute; z-index: 10; top: 100%; left: 50%; margin-top: 20px; margin-left: -90px; }
.lang__list li { text-align: center; border-bottom: 1px solid #E5E5E5; padding: 2px 0; }
.lang__list li:last-child { border-bottom: none; }
.lang__list li a { display: block; color: #4C4C4C; text-decoration: none; font-size: 13px; line-height: 35px; border-radius: 5px; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; -webkit-transition: all 0.15s linear; transition: all 0.15s linear; }
.lang__list li a:hover, .lang__list li a:focus { background: #105C9B; color: #FFF; }
@media only screen and (max-width: 1100px) { .lang__list { left: auto; right: 0; margin-left: 0; } }

.nav { font-size: 14px; display: inline-block; vertical-align: middle; }
.nav ul { font-size: 0; }
.nav li { display: inline-block; vertical-align: middle; margin-right: 30px; }
.nav li:last-child { margin-right: 0; }
.nav a { font-size: 14px; font-family: "OpenSans-Semibold", Arial, sans-serif; font-weight: normal; color: #FFF; text-decoration: none; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; -webkit-transition: all 0.15s linear; transition: all 0.15s linear; }
.nav a:hover { color: #FF9800; }
@media only screen and (max-width: 700px) { .nav { display: block; }
  .nav ul { display: block; }
  .nav li { display: block; margin: 0; text-align: center; }
  .nav a { display: inline-block; padding: 14px 0; -webkit-tap-highlight-color: transparent; } }

.line { position: absolute; bottom: 0; left: 0; right: 0; height: 90px; line-height: 90px; overflow: hidden; background: #0B5B9C; color: #FFF; font-size: 0; }
@media only screen and (max-width: 700px) { .line { position: static; margin-top: 35px; padding: 20px 0; height: auto; line-height: 1; } }

.line__list { display: inline-block; width: 100%; }
.line__list li { display: inline-block; vertical-align: middle; position: relative; width: 33.33%; box-sizing: border-box; text-align: center; font-size: 15px; }
.line__list li strong { font-weight: normal; }
.line__list li:after { content: ""; position: absolute; top: 50%; right: -15px; margin-top: -3px; background: url('../img/icons-s65a568fc36.png') 0 0 no-repeat; width: 30px; height: 7px; }
.line__list li:last-child:after { display: none; }
@media only screen and (max-width: 700px) { .line__list { display: block; }
  .line__list li { vertical-align: top; }
  .line__list li:after { display: none; } }

.figure { display: table; table-layout: fixed; text-align: left; line-height: 1; max-width: 170px; margin: auto; }
@media only screen and (max-width: 700px) { .figure { display: block; padding: 0 10px; }
  .figure .figure__icon { display: block; height: 30px; }
  .figure .figure__text { display: block; font-size: 12px; line-height: 1.25; } }

.figure__icon { display: table-cell; width: 40px; vertical-align: middle; }

.figure__text { display: table-cell; vertical-align: middle; }

.voucher { position: relative; width: 100%; max-width: 309px; margin: 40px 0 0 -10px; }
.voucher:before { content: ""; display: block; width: 100%; padding-bottom: 67.314%; background-image: url("../img/voucher.png"); background-size: cover; background-repeat: no-repeat; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .voucher:before { background-image: url("../img/voucher2x.png"); } }
@media only screen and (max-width: 980px) { .voucher { margin-left: 0; } }
@media only screen and (max-width: 700px) { .voucher { margin: 11px auto; } }

.exchange { display: block; margin-top: 80px; font-size: 13px; line-height: 1; text-transform: uppercase; }
.exchange em { color: #FF9800; font-style: normal; }
@media only screen and (max-width: 700px) { .exchange { margin: 10px 0 0; text-align: center; } }

.title { margin: 0 auto 35px; text-align: center; font-size: 25px; line-height: 1; font-weight: normal; }
.title.title_margin { margin-top: 38px; }

.title-head { font-family: "OpenSans-Light", Arial, sans-serif; font-weight: normal; font-weight: normal; font-size: 40px; line-height: 1.1; }
@media only screen and (max-width: 700px) { .title-head { font-size: 25px; text-align: center; } }

.form { padding: 20px; box-sizing: border-box; width: 100%; max-width: 460px; margin: auto; background: #105C9B; border-radius: 5px; }

.form_transparent { background: rgba(16, 92, 155, 0.7); }

.form__title { display: block; color: #FFF; font-size: 13px; line-height: 1; font-weight: normal; }
.form__title.form__title_big { font-size: 20px; }

.form__link { text-align: right; }
.form__link a { display: inline-block; text-decoration: none; color: #FFF; font-size: 13px; line-height: 1; -moz-transition: color 0.15s linear; -o-transition: color 0.15s linear; -webkit-transition: color 0.15s linear; transition: color 0.15s linear; }
.form__link a:hover { color: #FF9800; }
@media only screen and (max-width: 400px) { .form__link { text-align: left; } }

.form__field { margin: 20px 0; position: relative; }
.form__field:last-child { margin-bottom: 0; }
.form__field:first-child { margin-top: 0; }
.form__field .icon { position: absolute; top: 0; right: 0; bottom: 0; width: 40px; line-height: 40px; text-align: center; color: #B4CEE1; pointer-events: none; }
.form__field.is-error .input { background: #FEE7E7; border-color: #FEE7E7; color: #ff4545; }
.form__field.is-error .input:focus { border-color: #FF9800; }
.form__field.is-error .icon { color: #FBB6B7; }
.form__field.is-error .form__error { display: block; }

.form__error { display: none; position: absolute; z-index: 2; top: 100%; left: 0; max-width: 300px; box-sizing: border-box; padding: 7px 10px; margin-top: 10px; border-radius: 5px; box-shadow: 3px 4px 5px rgba(130, 19, 19, 0.14); background: #FCC7C8; font-size: 12px; line-height: 1.1; color: #ff4545; }
.form__error:before { content: ""; position: absolute; bottom: 100%; left: 18px; width: 0px; height: 0px; border-style: solid; border-width: 0 5.5px 6px 5.5px; border-color: transparent transparent #FCC7C8 transparent; }

.form__footer { display: table; table-layout: fixed; width: 100%; margin-top: 20px; }

.form__footer-left { display: table-cell; vertical-align: middle; width: 60%; }

.form__footer-right { display: table-cell; vertical-align: middle; }

.form__field-cell { display: inline-block; vertical-align: top; box-sizing: border-box; position: relative; }

.form__field_code { margin-left: -1.66667%; margin-right: -1.66667%; font-size: 0; }
.form__field_code .form__field-cell { width: 25%; padding: 0 1.66667%; }
.form__field_code .icon { right: 1.66667%; }

.form__field_two { margin-left: -3.57143%; font-size: 0; }
.form__field_two .form__field-cell { width: 50%; padding-left: 3.57143%; }
@media only screen and (max-width: 700px) { .form__field_two { margin-left: 0; }
  .form__field_two .form__field-cell { width: 100%; padding-left: 0; margin-top: 20px; }
  .form__field_two .form__field-cell:first-child { margin-top: 0; } }

.form_contact { max-width: 610px; padding: 35px 25px 25px; margin: auto; background: #F8F8F8; position: relative; }
.form_contact:after { content: ""; position: absolute; z-index: -1; top: -5px; left: -5px; right: -5px; bottom: -5px; border-radius: 5px; background-image: -moz-repeating-linear-gradient(-45deg, #FBA942 0, #FBA942 6px, #F8F8F8 6px, #F8F8F8 12px, #6C9EC3 12px, #6C9EC3 18px, #F8F8F8 18px, #F8F8F8 24px); background-image: -webkit-repeating-linear-gradient(-45deg, #FBA942 0, #FBA942 6px, #F8F8F8 6px, #F8F8F8 12px, #6C9EC3 12px, #6C9EC3 18px, #F8F8F8 18px, #F8F8F8 24px); background-image: repeating-linear-gradient(-45deg, #FBA942 0, #FBA942 6px, #F8F8F8 6px, #F8F8F8 12px, #6C9EC3 12px, #6C9EC3 18px, #F8F8F8 18px, #F8F8F8 24px); background-position: bottom right; }
.form_contact > .btn { display: block; margin: auto; }
@media only screen and (max-width: 700px) { .form_contact { padding-right: 15px; padding-left: 15px; } }

.chrome .form_contact:after { background-size: 34px 34px; }

.how-it-works { padding: 100px 0 70px; }
.how-it-works .title { margin-bottom: 80px; }
@media only screen and (max-width: 700px) { .how-it-works { padding: 80px 0 90px; }
  .how-it-works .title { margin-bottom: 60px; } }

.step-list { font-size: 0; }

.step-list__item { display: inline-block; vertical-align: top; width: 33.33%; box-sizing: border-box; padding: 0 10px; }
@media only screen and (max-width: 700px) { .step-list__item { display: block; width: auto; margin-top: 55px; }
  .step-list__item:first-child { margin-top: 0; } }

.step { text-align: center; max-width: 270px; margin: auto; }

.step__icon { height: 135px; position: relative; text-align: center; }
@media only screen and (max-width: 700px) { .step__icon { height: auto; margin-bottom: 35px; } }

.step__title { font-weight: normal; font-size: 20px; line-height: 1; }

.step__text { color: #A3A3A3; margin-top: 20px; font-size: 15px; }

.where-to-buy { padding-top: 65px; position: relative; }
.where-to-buy:before { content: ""; position: absolute; top: 30px; left: 0; right: 0; height: 1px; background: #E5E5E5; }
.where-to-buy:after { content: ""; position: absolute; z-index: 2; top: 0; left: 50%; margin-left: -15px; background: url('../img/icons-s65a568fc36.png') 0 -356px no-repeat; width: 31px; height: 50px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .where-to-buy:after { background: url('../img/icons-s65a568fc36.png') 0 -416px no-repeat; background-position: 0 -208px; width: 31px; height: 50px; -moz-background-size: 68px 581px; -webkit-background-size: 68px 581px; background-size: 68px 581px; } }

.map { height: 600px; overflow: hidden; position: relative; }
@media only screen and (max-width: 700px) { .map { height: 450px; } }

.map__body { width: 100%; height: 100%; }
.map__body .gm-style-cc { display: none !important; }

.map__marker { background: #FF9800; border-radius: 5px; color: #FFF; padding: 5px 8px; font-size: 13px; line-height: 1; }
.map__marker span { position: relative; }
.map__marker sup { vertical-align: super; font-size: 6px; text-transform: uppercase; }

.map__search { position: absolute; z-index: 2; top: 40px; left: 10px; right: 10px; max-width: 620px; padding: 5px; box-sizing: border-box; height: 50px; margin: auto; background: rgba(33, 55, 72, 0.15); border-radius: 5px; }
.map__search .icon { position: absolute; top: 0; right: 5px; bottom: 0; text-align: center; width: 40px; line-height: 50px; }

.marker-info { max-width: 350px; min-width: 150px; font-family: "OpenSans-Regular", Arial, sans-serif; font-weight: normal; }
@media only screen and (max-width: 700px) { .marker-info { max-width: 250px; } }

.marker-info__head { font-size: 15px; font-family: "OpenSans-Semibold", Arial, sans-serif; font-weight: normal; }

.marker-info__address { font-style: italic; }

.marker-info__tel { font-size: 15px; }
.marker-info__tel a { color: inherit; text-decoration: none; }

.marker-info__open { color: #A3A3A3; }

.contact { padding: 60px 0 52px; }
.contact .title { margin-bottom: 43px; }

.privacy { margin-top: 70px; max-width: 100%; text-align: center; color: #A3A3A3; line-height: 2; }
.privacy a { color: #00599e; text-decoration: none; }
.privacy a:hover { text-decoration: underline; }

.privacy__divider { display: inline-block; margin: 0 20px; }

.footer { position: relative; padding: 32px 0 29px; border-top: 1px solid #E5E5E5; font-size: 13px; color: #A3A3A3; *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }
.footer .l { position: relative; }

.footer__info { position: absolute; top: 0px; left: 10px; right: 10px; *zoom: 1; }
.footer__info:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 700px) { .footer__info { position: static; margin-top: 25px; } }

.footer__address { display: block; text-align: center; margin: 0 26%; }
@media only screen and (max-width: 700px) { .footer__address { margin: 0 40px; } }

.copy { display: block; float: left; width: 25%; }
@media only screen and (max-width: 700px) { .copy { width: 48%; } }

.creator { display: block; float: right; width: 25%; text-align: right; }
.creator a { color: #000; text-decoration: none; font-family: "BlissPro-Bold", Arial, sans-serif; font-weight: normal; }
.creator a em { color: #FF9800; font-style: normal; }
@media only screen and (max-width: 700px) { .creator { width: 48%; } }

.confirm { margin: 5px 0; font-size: 13px; line-height: 1.15; color: #FFF; }

.confirm__row { border-top: 1px solid #276BA4; padding: 12px 0; *zoom: 1; }
.confirm__row:after { content: " "; display: table; clear: both; }
.confirm__row:first-child { border-top: none; }

.confirm__label { float: left; width: 28.57143%; color: #A5B6C8; box-sizing: border-box; padding-right: 5px; }
@media only screen and (max-width: 400px) { .confirm__label { float: none; width: auto; margin-bottom: 5px; } }

.confirm__content { float: right; width: 71.42857%; }
.confirm__content em { color: #A5B6C8; font-style: normal; }
@media only screen and (max-width: 400px) { .confirm__content { float: none; width: auto; } }

.info { display: table; table-layout: fixed; width: 100%; background-color: #033861; border-radius: 5px; color: #FFF; }

.info__cell { display: table-cell; height: 60px; padding: 3px; box-sizing: border-box; vertical-align: middle; text-align: center; border-left: 1px solid #224D6F; }
.info__cell:first-child { border-left: none; }
.info__cell:first-child, .info__cell:last-child { width: 35.71429%; }

.info__label { margin-bottom: 3px; color: #A5B6C8; font-size: 12px; line-height: 1.1; }

.info__value { font-size: 20px; line-height: 1.2; }
.info__value.info__value_orange { color: #f19d06; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
@media only screen and (max-width: 400px) { .info__value { font-size: 15px; } }

.info-text { font-size: 12px; color: #81a6c3; }
.info-text em { color: #FFF; font-style: normal; }
.info .info-text { display: inline-block; vertical-align: middle; position: relative; top: -1px; font-size: 10px; line-height: 0.8; text-align: left; }
.form > .info-text { margin-top: 17px; }

.alert { margin: 15px 0 10px; padding: 20px 70px 20px 20px; background: #0D4471; background: rgba(3, 56, 97, 0.5); border-radius: 5px; color: #FFF; position: relative; }
.alert:after { content: ""; position: absolute; top: 100%; left: 20px; width: 0px; height: 0px; border-style: solid; border-width: 8px 10px 0 0; border-color: rgba(3, 56, 97, 0.5) transparent transparent transparent; }

.alert__small { display: block; margin-top: 28px; font-size: 12px; color: #A5B6C8; }

.alert__icon { position: absolute; top: 20px; right: 20px; }
.alert__icon .icon-checkmark-round { width: 31px; height: 31px; line-height: 31px; font-size: 12px; }
.alert__icon .icon-checkmark-round:before { display: inline-block; vertical-align: middle; }

.popup { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; padding: 0 10px; z-index: 1000; text-align: center; font-size: 0; background: rgba(3, 27, 44, 0.8); white-space: nowrap; overflow: auto; -webkit-tap-highlight-color: transparent; }
.popup:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }

.popup__inner { display: inline-block; vertical-align: middle; width: 100%; max-width: 360px; box-sizing: border-box; position: relative; padding: 30px; white-space: normal; font-size: 15px; background: #FFF; border-radius: 5px; box-shadow: 5px 14px 20px rgba(0, 0, 0, 0.05); }
.popup__inner .icon-alert { color: #F8484D; }

.popup__close { position: absolute; top: 20px; right: 20px; background: none; font-size: 12px; color: #CBBABA; -moz-transition: color 0.15s linear; -o-transition: color 0.15s linear; -webkit-transition: color 0.15s linear; transition: color 0.15s linear; }
.popup__close:hover { color: #000; }

.popup__text { margin-top: 14px; }
.popup__text p + p { margin-top: 10px; }
.popup__text strong { font-family: "OpenSans-Semibold", Arial, sans-serif; font-weight: normal; }

.popup__title { display: block; font-family: "OpenSans-Light", Arial, sans-serif; font-weight: normal; font-size: 20px; margin-bottom: 14px; }
.icon + .popup__title { margin-top: 14px; }

.popup__small { font-size: 12px; line-height: 1.2; color: #A3A3A3; }

.popup_error .popup__inner { max-width: 400px; background: #FEE9E9; }
.popup_error .popup__text { color: #730606; }
